.nav-bg {
  background-color: #2c0e3a;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  height: 100px;
  font-family: 'Roboto';
  width: 100%;
  list-style-type: none;
  align-items: center;
}
.website-logo {
  width: 160px;
  height: 45px;

  margin-left: 20px;
}

.score-timer-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.score-container {
  display: flex;
  margin-right: 12px;
}

.score {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.span {
  font-size: 25px;
  color: #fec653;
  padding-left: 5px;
}

.time-container {
  display: flex;
  margin-right: 25px;
  margin-left: 12px;
  align-items: center;
}

.time-logo {
  width: 25px;
  height: 25px;
}

.time {
  font-size: 22px;
  color: #fec653;
  padding-left: 10px;
}
.sec {
  padding-left: 5px;
  font-weight: 600;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 410px;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 5px;
}

.tabs-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-right: 25px;
}

.score-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 298px;
  margin-top: 30px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 50px;
}

.trophy {
  width: 150px;
  height: 150px;
  margin-top: 150px;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.reset-icon {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

.score-text {
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-top: 0px;
}
.score-span {
  font-size: 40px;
  margin-left: 50px;
  margin-top: 10px;
}

.play-again-btn {
  background-color: #cf60c8;
  border: none;
  border-radius: 11px;
  color: white;
  width: 180px;
  margin-bottom: 50px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

.play-again-text {
  font-weight: 600;
  font-size: 18px;
  padding-top: 2px;
}

@media screen and (max-width: 776px) {
  .nav-bg {
    width: 100%;
    padding: 10px;
  }
  .website-logo {
    width: 100px;
    height: 35px;

    margin-left: 15px;
  }
  .score-timer-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 10px;
  }
  .score-container {
    display: flex;
    margin-right: 2px;
    margin-right: auto;
  }

  .score {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    color: white;
  }

  .span {
    font-size: 18px;
    color: #fec653;
    padding-left: 5px;
  }

  .time-container {
    display: flex;
    margin-right: 20px;

    align-items: center;
  }

  .time-logo {
    width: 18px;
    height: 18px;
  }

  .time {
    font-size: 15px;
    color: #fec653;
    padding-left: 5px;
  }
  .sec {
    padding-left: 5px;
    font-weight: 600;
  }
  .score-card {
    width: 290px;
    margin-right: 20px;
  }
  .image {
    height: 180px;
    width: 70%;
    border-radius: 5px;
    margin-right: 10px;
  }
  .tabs-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 70px;
  }
  .image-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-right: 75px;
  }
  .score-card-bg {
    width: 80%;
  }
  .trophy {
    width: 200px;
    height: 150px;
    margin-top: 120px;
  }
  .score-text {
    font-size: 18px;
  }
  .score-span {
    margin-top: 15px;
    font-size: 30px;
    margin-left: 41px;
  }
  .play-again-btn {
    background-color: #cf60c8;
    border: none;
    border-radius: 11px;
    color: white;
    width: 150px;
    margin-bottom: 50px;
    cursor: pointer;
    outline: none;
  }
}
